/*Base class*/
body {color:#999; background-color:#000; font-family:"Helvetica Neue", Helvetica, arial, sans-serif; font-size:12px; line-height:1.2em; background-image: url(../images/bck.jpg); padding:0; margin:0;}

.wrapper {float:left; width:100%; height:380px;background-image:url(../images/top_bck.png); background-repeat: repeat-x; background-position: top;}
.box {position:absolute; top:45%; left:50%;width:780px;   margin:-180px 0 0 -390px;}
.left {float:left;width:339px;border-right:0px solid #333;text-align:right;padding:20px 30px 20px 20px;min-height:230px;}
.right {float:right;width:350px;text-align: left;padding:20px;border-left:1px solid #333; min-height:230px;}

h1, h2, h3, h4, h5, h6 {color:#fff; padding:0; margin:0;font-weight:lighter;font-family: Helvetica, arial;line-height:1.2em;}
h2 {font-size: 1.5em;}
h3 {font-size:1.2em; margin:1em 0 0 0;}


blockquote {padding:0;margin:0;font-style: italic;font-size:1.6em;color:#fff;line-height: 1.4em;}
a:link, a:visited{color:#FFFFFF;text-decoration:none;border: 0;}
a:hover {text-decoration:underline;}
p {margin:5px 0;}

ul {
}
li {
list-style-type: none;
background-image: url('../images/li_icon.gif');
background-repeat: no-repeat;
background-float: left;
padding-left: 10px;
padding-bottom: 9px;
background-position: 0 0.46em;
}

#pic1 img {
background: transparent url("../images/kisti-1_thumb.jpg") no-repeat;
}

#pic1 img:hover {
background: transparent url("../images/kisti-1_thumb_colored.jpg") no-repeat;
}

#pic2 img {
background: transparent url("../images/kisti-2_thumb.jpg") no-repeat;
}

#pic2 img:hover {
background: transparent url("../images/kisti-2_thumb_colored.jpg") no-repeat;
}

#pic3 img {
background: transparent url("../images/kisti-3_thumb.jpg") no-repeat;
}

#pic3 img:hover {
background: transparent url("../images/kisti-3_thumb_colored.jpg") no-repeat;
}

#pic4 img {
background: transparent url("../images/kisti-4_thumb.jpg") no-repeat;
}

#pic4 img:hover {
background: transparent url("../images/kisti-4_thumb_colored.jpg") no-repeat;
}

#pic5 img {
background: transparent url("../images/kisti-5_thumb.jpg") no-repeat;
}

#pic5 img:hover {
background: transparent url("../images/kisti-5_thumb_colored.jpg") no-repeat;
}

#pic6 img {
background: transparent url("../images/kisti-6_thumb.jpg") no-repeat;
}

#pic6 img:hover {
background: transparent url("../images/kisti-6_thumb_colored.jpg") no-repeat;
}

img.icon {float:left;padding:5px 10px 0 0;}
img.small_icon {float:right;padding:5px;border:0;}


label{
float: left;
width: 120px;
font-weight: bold;
}

#person img {
padding: 0px;
margin-right:25px;
float: left;
}

input, textarea{
width: 200px;
margin-bottom: 5px;
border: 1px solid;
border-color: #aaa;
color: white;
background-color: #222;
font-family: Helvetica, Calibri, Tahoma, sans-serif;
}

input:focus, textarea:focus {
background-color: #111;
border: 1px solid;
border-color: orange;
}

textarea{
height: 100px;
resize: none; 
max-width: 200px;
overflow:auto;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}